@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



.icon_nav {
  @apply w-5 ml-2 mr-4;
}

.single-line-text {
  white-space: nowrap;
}

.card {
  @apply bg-gray-50 dark:bg-nav_col_dark rounded-md shadow-md hover:shadow-lg  hover:text-action overflow-hidden relative;
}
.image_card {
  @apply  rounded-lg  overflow-hidden ;
}
.poster_card {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px; /* Or any other appropriate value */
}
.text_card{
  @apply bg-white text-lg dark:bg-nav_col_dark rounded-md shadow-md  overflow-hidden relative  border-2 dark:border-gray-800  border-gray-50 p-4 ;
}
.badge_right {
  @apply bg-gray-300 z-20 text-gray-500 text-sm  lg:text-xxs uppercase font-bold rounded-full p-2 mt-2 mr-2 absolute  top-0 right-0;
}

.badge_left {
  @apply bg-gray-300 z-20 text-gray-500 text-sm lg:text-xxs uppercase font-bold rounded-full p-2 mt-2 ml-2 absolute top-0;
}

.text_card_grid {
  @apply flex flex-col sm:flex-row  bg-white p-0  pt-8 gap-8  text-primary dark:text-gray-100;
}
.page_title {
  @apply bg-white text-4xl  text-center   p-4;
}

.page_subtitle {
  @apply font-bold text-2xl text-primary  p-4 text-center relative dark:text-gray-100 mt-8 pb-2 border-border_col dark:border-gray-100  
}

.gallery_card {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.gallery_card:hover .image_content {
  filter: blur(8px);
}

.overlay_text {
  position: absolute;
  top: 10%;

  padding-left: 4%;
  padding-right: 4%;
  color: white;
  justify-content: center;
  font-size: 20px;
  display: none;
  text-align: center; /* Ensures text is centered if it wraps to a new line */
  z-index: 20;
  text-size-adjust: 3xl;
}

@media (min-width: 992px) {
  .overlay_text {
    top: 30%;
    padding-left: 10%;
    padding-right: 10%;
    text: md;
  }
}

.gallery_card:hover .overlay_text {
  display: block;
}