@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



.icon_nav {
  @apply w-5 ml-2 mr-4;
}

.single-line-text {
  white-space: nowrap;
}

.card {
  @apply bg-white dark:bg-nav_col_dark rounded-md shadow-md hover:shadow-lg  hover:text-action overflow-hidden relative;
}
.image_card {
  @apply  rounded-lg  overflow-hidden ;
}
.poster_card {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px; /* Or any other appropriate value */
}
.text_card{
  @apply bg-white text-lg dark:bg-nav_col_dark rounded-md shadow-md  overflow-hidden relative  border-2 dark:border-gray-800  border-gray-50 p-4 ;
}
.text_card_icon{
  @apply bg-white text-lg   pb-12 dark:bg-nav_col_dark rounded-md shadow-md  overflow-hidden relative  border-2 dark:border-gray-800  border-gray-50 p-4 ;
}
.icon_text_card{
  @apply absolute right-0 bottom-0  p-4  text-primary hover:text-gray-500 dark:hover:text-blue-500  rounded-lg 
}
.badge_right, .badge_left, .badge_bottom_left, .badge_bottom_right {
  @apply font-bold border-2 border-gray-700 bg-gray-300 z-20 text-secondary text-sm lg:text-xxs uppercase  rounded-lg p-2 m-2 absolute !important ;
  height: 1.5rem; /* Ensure all badges have the same height */
  line-height: 2rem; /* Vertically align the text within the badge */
  display: flex; /* Enable flexbox for consistent alignment */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}

.badge_right {
  @apply top-0 right-0 mr-2;
}

.badge_left {
  @apply top-0 ml-2;
}

.badge_bottom_left {
  @apply bottom-28 ml-2;
}
.badge_bottom_right {
  @apply bottom-28  right-0 mr-2;
} 
.text_card_grid {
  @apply flex flex-col md:flex-row  bg-white p-0  pt-8 gap-8  text-primary dark:text-gray-100;
}
.page_title {
  @apply bg-white text-4xl   text-center   p-4;
}

.page_subtitle {
  @apply font-bold text-2xl text-primary  p-4 text-center relative dark:text-gray-100 mt-4 pb-2 border-border_col dark:border-gray-100  
}

.gallery_card {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.gallery_card:hover .image_content {
  filter: blur(8px);
}
.card_layout_4{
  @apply mt-8 grid grid-cols-1    md:grid-cols-2 lg:grid-cols-4 pl-6 pr-6 sm:p-0 gap-8  text-primary dark:text-gray-100
}

.overlay_text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 4%;
  padding-right: 4%;
  color: white;
  justify-content: center;
  font-size: 15px;
  display: none;
  text-align: center;
  z-index: 20;
}

@media (min-width: 400px) {
  .overlay_text {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
  }
}

.gallery_card:hover .overlay_text {
  display: block;
}

.icon-text-container {
  display: flex;
  align-items: center; /* Align icon and text vertically */
  gap: 0.5rem; /* Add spacing between the icon and text */
}

